@import "tailwindcss";
@import "./reveal.css";

@font-face {
  font-family: "Chiru";
  src: url("/fonts/chirufont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RiiMonakaBlack";
  src: url("/fonts/RiiMonakaBLt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Zen Maru Gothic", system-ui, sans-serif;
  --font-chiru: "Chiru", "Zen Maru Gothic", sans-serif;
  --font-monaka: "RiiMonakaBlack", "Zen Maru Gothic", sans-serif;

  --color-main: #f5e4e3;
  --color-base: #faf4e3;
  --color-accent: #fee088;
  --color-text: #323232;
  --color-green: #d1d171;
  --color-white: #f9f6f4;
  --color-title: #f48f89;

  --text-size-base: 62.5%;
}

@layer base {
  html {
    font-size: var(--text-size-base);
  }
  body {
    font-family: var(--font-sans);
    background-color: var(--color-base);
    color: var(--color-text);
  }
}

body.loading-lock {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}
