@import "tailwindcss";

@theme {
  --font-sans: "Zen Maru Gothic", system-ui, sans-serif;
 
  --color-main: #FEE088;
  --color-base: #FAF4E3;
  --color-accent: #F5E4E3;
  --color-text: #323232;
  --color-green: #D1D171;
  --color-white: #F9F6F4;
}


@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-base);
    color: var(--color-text);
  }
}