@import "tailwindcss";

@theme {
  --font-sans: "Zen Maru Gothic", system-ui, sans-serif;
 
  --color-main: #FEE088;
  --color-base: #FAF7F2;
  --color-accent: #F2CFD7;
  --color-text: #323232;
  --color-green: #D1D171;
  --color-white: #FFFFFF;
}


@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-base);
    color: var(--color-text);
  }
}