@import "tailwindcss";

@font-face {
  font-family: "Chiru";
  src: url("/fonts/chirufont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RiiMonakaBlack";
  src: url("/fonts/RiiMonakaBLt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-sans: "Zen Maru Gothic", system-ui, sans-serif;
  --font-chiru: "Chiru", "Zen Maru Gothic", sans-serif;
  --font-monaka: "RiiMonakaBlack", "Zen Maru Gothic", sans-serif;
 
  --color-main: #F5E4E3;
  --color-base: #FAF4E3;
  --color-accent: #FEE088;
  --color-text: #323232;
  --color-green: #D1D171;
  --color-white: #F9F6F4;
  --color-title: #F48F89;
}


@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-base);
    color: var(--color-text);
  }
}
