---
import SectionTitle from "../ui/SectionTitle.astro";
import SubTitle from "../ui/SubTitle.astro";
const { id } = Astro.props;
---

<section id={id}>
  <SectionTitle text="Contact" />
  <SubTitle text="連絡先" />
  <SubTitle text="奈々からのメッセージ" />
</section>