---
import Header from "../components/common/header.astro";
import About from "../components/layout/About.astro"
import Contact from "../components/layout/Contact.astro"
import Footer from "../components/layout/Footer.astro"
import Life from "../components/layout/Life.astro"
import Top from "../components/layout/Top.astro"
import Work from "../components/layout/Work.astro"
import BaseLayout from "../layouts/Layout.astro"
---

<BaseLayout title="中山奈々 | Profile">
  <Header />
  <Top />

  <div class="mt-10 space-y-10">
	<About id="about" />
	<Work id="work" />
	<Life id="life" />
	<Contact id="contact" />
  </div>

  <Footer />
</BaseLayout>
