---
import BaseLayout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Top from "../components/Top.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Life from "../components/Life.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="中山奈々 | Profile">
  <Navbar sections={person.sections} />
  <Top />

  <div class="mt-10 space-y-10">
	<About id="about" />
	<Work id="work" />
	<Life id="life" />
	<Contact id="contact" />
  </div>

  <Footer />
</BaseLayout>
