---
import { Header, Top, About, Work, Life, Contact, Footer, BaseLayout } from "../components"
---

<BaseLayout title="中山奈々 | Profile">
  <Header />
  <Top />

  <div class="mx-auto max-w-[1152px] px-4 md:px-16 flex flex-col justify-center">
    <About id="about" />
    <Work id="work" />
    <Life id="life" />
    <Contact id="contact" />
  </div>

  <Footer />
</BaseLayout>
