---
import { Header, Top, About, Work, Life, Contact, Footer, BaseLayout } from "../components"
---

<BaseLayout title="中山奈々 | Portfolio">
  <Header />
  <Top />

  <div class="flex lg:justify-center w-full justify-center">
    <div class="flex flex-col max-w-[1024px] gap-24 px-4 md:px-16 w-full overflow-x-hidden">
      <About id="about" />
      <Work id="work" />
      <Life id="life" />
      <Contact id="contact" />
    </div>
  </div>

  <Footer />
</BaseLayout>