---
import Logo from "/src/assets/logo.svg";
import { Menu, X } from "lucide-astro";
---

<header id="top" class="fixed left-0 top-0 z-50 w-full bg-base px-5 md:px-16 lg:px-0">
  <div class="mx-auto flex max-w-[1040px] items-center justify-between gap-4 pt-[20px] pb-[10px]">
    <a href="#top" class="shrink-0 hover:opacity-80">
      <Logo class="h-10 w-auto sm:h-12 md:h-17" />
    </a>

    <nav class="hidden md:flex items-center gap-x-8 lg:gap-x-12">
      <a href="#top" class="text-[2.4rem] hover:opacity-60">Home</a>
      <a href="#about" class="text-[2.4rem] hover:opacity-60">About</a>
      <a href="#work" class="text-[2.4rem] hover:opacity-60">Work</a>
      <a href="#life" class="text-[2.4rem] hover:opacity-60">Life</a>
      <a href="#contact" class="text-[2.4rem] hover:opacity-60">Contact</a>
    </nav>

    <details class="relative md:hidden">
      <summary class="list-none rounded-2xl p-2 hover:bg-black/5 focus:outline-none" aria-label="Open menu">
        <Menu class="h-11 w-11 text-text" />
      </summary>

      <div class="absolute right-0 mt-3 w-[220px] rounded-3xl border border-zinc-200 bg-base p-3">
      </div>
    </details>
  </div>
</header>
