---
import Logo from "/src/assets/logo.svg";
import Menu from "/src/assets/menu.svg";
import X from "/src/assets/x.svg";
---

<header id="top" class="fixed left-0 top-0 z-50 w-full bg-base">
    <div class="mx-auto w-full max-w-5xl px-5 md:px-0">
        <div class="flex items-center justify-between gap-4 pt-[26px]">
            <a href="#top" class="shrink-0 hover:opacity-80">
                <Logo class="h-10 w-auto sm:h-12 md:h-17" />
            </a>

            <nav class="hidden md:flex flex-wrap items-center justify-end gap-x-10">
                <a href="#top" class="hover:opacity-60"><h3 class="text-2xl">Home</h3></a>
                <a href="#about" class="hover:opacity-60"><h3 class="text-2xl">About</h3></a>
                <a href="#work" class="hover:opacity-60"><h3 class="text-2xl">Work</h3></a>
                <a href="#life" class="hover:opacity-60"><h3 class="text-2xl">Life</h3></a>
                <a href="#contact" class="hover:opacity-60"><h3 class="text-2xl">Contact</h3></a>
            </nav>

            <details class="relative md:hidden">
                <summary
                class="list-none rounded-2xl p-2 hover:bg-black/5 focus:outline-none"
                aria-label="Open menu"
                >
                    <Menu class="h-11 w-11 text-text" />
                </summary>

                <div class="absolute right-0 mt-3 w-[220px] rounded-3xl border border-zinc-200 bg-base p-3">
                </div>
            </details>
        </div>
    </div>
</header>
