---
import Logo from "/src/assets/logo.svg";
---

<div class="mx-auto w-full max-w-5xl">
    <header id="top" class="w-full bg-base pt-[26px]">
        <div class="flex flex-wrap items-center justify-between gap-4">
            <a href="#top" class="shrink-0">
                <Logo class="h-10 w-auto" />
            </a>

            <nav class="hidden md:flex flex-wrap items-center justify-end gap-x-10">
                <a href="#top" class="hover:opacity-60"><h3 class="text-2xl">Home</h3></a>
                <a href="#about" class="hover:opacity-60"><h3 class="text-2xl">About</h3></a>
                <a href="#work" class="hover:opacity-60"><h3 class="text-2xl">Work</h3></a>
                <a href="#life" class="hover:opacity-60"><h3 class="text-2xl">Life</h3></a>
                <a href="#contact" class="hover:opacity-60"><h3 class="text-2xl">Contact</h3></a>
            </nav>
        </div>
    </header>
</div>
