---
import "../styles/global.css";
import Loading from "../components/common/Loading.astro";
const { title = "Profile" } = Astro.props;
---

<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/fonts/chirufont.ttf" as="font" type="font/ttf" crossorigin>

</head>

<body class="font-sans bg-base text-text">
  <Loading />
  <slot />
</body>
</html>
