<div class="w-[318px] md:w-[555px] relative">
  <div class="bg-main rounded-[20px] relative flex flex-col items-center shadow-[9px_9px_0_0_rgba(250,244,227,0.90)]">
    <p class="text-[1.6rem] text-text px-6 py-4">
      これまでの仕事では、失敗しても「まあいっか」と思ってしまうこともありました。<br class="hidden md:block" />
      でもバンタンでメンバーと深く関わる中で、一つの行動が誰かの人生に影響するかもしれないと気づき、初めて“責任感”というものを本気で考えるようになりました。
    </p>
    <div class="absolute inset-0 translate-x-3 translate-y-3 border border-[#959595] rounded-[20px]"></div>
  </div>
</div>