---
interface Props {
  photo: {
    src: string;
    alt: string;
    className?: string;
  };
}

const { photo } = Astro.props;
---
<div class={`relative h-[139px] w-[210px] lg:w-[220px] shrink-0 ${photo.className}`}>
  <div class="absolute inset-0 translate-x-3 translate-y-3 rounded-[16px] border-5 border-[#FEE088] lg:translate-x-3 lg:translate-y-3"></div>
  <div class="relative z-10 h-full w-full overflow-hidden rounded-[16px]">
    <img src={photo.src} alt={photo.alt} class="h-full w-full object-cover" />
  </div>
</div>