---
const { text } = Astro.props;
import { Star } from "lucide-astro";

---

<div class="flex items-center gap-[6px]">
  <Star class="fill-[#F5E4E3] stroke-none h-11 w-11 text-main" />
  <h2 class="text-[2.4rem] font-medium py-3">
    {text}
  </h2>
</div>