---
const { title } = Astro.props;
---

<div class="flex items-center gap-2 mb-2">
  <div class="w-2 h-2 rounded-full bg-main"></div>
  <h4 class="text-[1.8rem] font-bold text-text">{title}</h4>
</div>
